#header {
    height: 50px;
    background: #ff5555;
    padding: 10px;
    display: flex;
    // justify-content: space-around;
    align-items: center;
    text-align: center;
    * {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }
    .left {
        width: 10%;
    }
    .right {
        width:10%;
    }
    .middle {
        flex: 1
    }
    
}